section {
  width: 100%;
}

.sider {
  position: sticky !important;
  height: 80vh;
  left: 0;
  bottom: 0;
  top: 10%;
  margin-left: 0rem;

}
.mainSection {
  width: 100% !important;
}
.top {
  position: sticky !important;
  left: 0;
  bottom: 0;
  top: 10%;
  z-index: 99;
  background-color: white !important;
  border-top-right-radius: 30px;
  padding: 15px;
}
.destinationSearchMain {
  background-color: aliceblue;
  width: 25rem;
  /* padding: 0.4rem; */
  align-items: center;
  border-radius: 8px;
  display: flex;
  border: 1px solid rgb(196, 196, 196);
  background: transparent;
}

.destinationSearchMain i {
  color: var(--primary);
  font-size: 1.4rem;
  opacity: 0.89;
  margin: 0 0.8rem 0 0.5rem;
}
.destinationSearchMain input {
  position: relative;
  padding: 0.7rem 1rem 0.7rem 0.6rem;
  width: 100%;
  border: none;
  font-size: 1.07rem;
  z-index: 0;
  background: inherit;
  &:focus {
    outline: none;
  }
}
.destinationSearchMain button {
  background-color: var(--primary);
  color: var(--textWhite);
  font-size: 1.2rem;
  padding: 0.7rem 1.3rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.hotelCard {
  padding: 0px !important;
}
.Ratings {
}
